# R history and session files
.Rhistory
.Rapp.history
.RData
.RDataTmp
.Ruserdata
.Renviron
.Rproj.user/
# Package build and check outputs
*-Ex.R
/*.tar.gz
/*.Rcheck/
# R Markdown and knitr caches
*_cache/
/cache/
*.utf8.md
*.knit.md
# RStudio and publishing
rsconnect/
.httr-oauth
docs/
po/*~
# renv
renv/library/
renv/cache/
renv/settings/
# Vignettes
vignettes/*.html
vignettes/*.pdf
# OS-specific
*.DS_Store
Thumbs.db
# Large data files
*.nc
#*.rds
*.csv
R/data/environmental/
/data/trawl_surveys/fishglob_clean.rds
# Misc
*.html
#fishglob data
fishglob_clean.rds
# Fitted models
R/02_sdm_modelling/fitted/
R/03_bayesian_trends/fitted/
R/data/processed/fishglob_clean.rds
R/data/processed/prediction_grid.rds
R/data/processed/bayesian_species_trends.rds
R/data/processed/bayesian_region_trends.rds
R/data/processed/bayesian_global_trends.rds
# Presentation
/presentation

